body {
  background-color: #eff2f5; }

.poke-div-outer {
  background-color: #ffe162;
  background-image: url("../images/outer_background.png");
  border: 0;
  width: 250px;
  height: 350px;
  border-radius: 8px;
  margin: 20px;
  box-shadow: 1px 2px 2px 2px #ccc, 0px 4px 2px 3px #ddd;
  padding: 10px; }

.poke-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.poke-div-inner {
  background-color: #75d0f7;
  background-image: url("../images/fire.png");
  width: auto;
  height: 100%;
  box-shadow: 1px 1px 2px 1px #666 inset; }

.poke-name {
  display: block;
  text-align: center;
  font-size: 25px; }

.poke-image {
  max-width: 100%;
  height: auto; }

.poke-type {
  text-align: center; }

.poke-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between; }
