$normal-back-ground-color: #eff2f5;

body {
  background-color: $normal-back-ground-color;
}

.poke-div-outer {
  background-color: #ffe162;
  background-image: url("../images/outer_background.png");
  border: 0;
  width:250px;
  height: 350px; 
  border-radius: 8px;
  margin: 20px;
  box-shadow: 1px 2px 2px 2px #ccc, 0px 4px 2px 3px #ddd;
  padding: 10px;
  
}

.poke-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 0px 10px;
  font-size: 15px;
  font-family: 'Cherry Swash', cursive;
}

.poke-div-inner {
  background-color: #75d0f7;
  width: auto;
  height: 100%;
  box-shadow: 1px 1px 2px 1px #666 inset;
}
                                  
.poke-name {
  display: block;
  text-align: center;
  font-size:  25px;
  font-family: 'Caveat', cursive;
  font-weight: bold;
  text-shadow: 1px 1px 2px silver;
  font-style: italic;
  letter-spacing: 0.2em;
}

.poke-div-middle {
    display: flex;
    justify-content: space-around;
}

.poke-image-flame {
    background-color: white;
    padding: 0 20px 0 20px;
    height: 170px;
}

.poke-image {
  width: auto;
  height: 170px;
}

.poke-type {
  text-align: center;
  font-size: 20px;
  font-family: 'Londrina Shadow', cursive;
  font-weight: bold;
  letter-spacing: 0.1em;

}

.poke-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 16px;
    font-family: 'Cherry Swash', cursive;
}

.poke-text-box {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-text {
    font-size: 3px;
    padding: 0px 5px;
    font-family: "fantasy", cursive;
    text-align: center;
}



.poke-div-inner-bug {
@extend .poke-div-inner;
background-image: url("../images/bug.png");
}

.poke-div-inner-dark {
@extend .poke-div-inner;
background-image: url("../images/dark.png");
}

.poke-div-inner-dragon {
@extend .poke-div-inner;
background-image: url("../images/dragon.png");
}

.poke-div-inner-electric {
@extend .poke-div-inner;
background-image: url("../images/electric.png");
}

.poke-div-inner-fairy {
@extend .poke-div-inner;
background-image: url("../images/fairy.png");
}

.poke-div-inner-fighting {
@extend .poke-div-inner;
background-image: url("../images/fighting.png");
}

.poke-div-inner-fire {
@extend .poke-div-inner;
background-image: url("../images/fire.png");
}

.poke-div-inner-flying {
@extend .poke-div-inner;
background-image: url("../images/flying.png");
}

.poke-div-inner-ghost {
@extend .poke-div-inner;
background-image: url("../images/ghost.png");
}

.poke-div-inner-grass {
@extend .poke-div-inner;
background-image: url("../images/grass.png");
}

.poke-div-inner-ground {
@extend .poke-div-inner;
background-image: url("../images/ground.png");
}

.poke-div-inner-ice {
@extend .poke-div-inner;
background-image: url("../images/ice.png");
}

.poke-div-inner-normal {
@extend .poke-div-inner;
background-image: url("../images/normal.png");
}

.poke-div-inner-poison {
@extend .poke-div-inner;
background-image: url("../images/poison.png");
}

.poke-div-inner-psychic {
@extend .poke-div-inner;
background-image: url("../images/psychic.png");
}

.poke-div-inner-rock {
@extend .poke-div-inner;
background-image: url("../images/rock.png");
}

.poke-div-inner-steel {
@extend .poke-div-inner;
background-image: url("../images/steel.png");
}

.poke-div-inner-water {
@extend .poke-div-inner;
background-image: url("../images/water.png");
}